NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET="" # Linux: openssl rand -hex 32 or go to https://generate-secret.now.sh/32

COGNITO_CLIENT_ID="30pclqdduflv9t67f393c25gf2"
COGNITO_CLIENT_SECRET=""
COGNITO_ISSUER="https://cognito-idp.eu-west-2.amazonaws.com/eu-west-2_7ZqasMST2"
